@model Kategori

@{
    ViewData["Title"] = "Details";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 50vh;">
    <h4 class="text-center">Kategori Detay</h4>
    <hr />
    <div style="width: 70%; border: 1px solid #ccc; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.KategoriAciklama)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.KategoriAciklama)
        </dd>
    </dl>
</div>
</div>