
<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
           <div>
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="~/img/yemek.png" alt="Alternate Text" width="75px" />
                </a>
           </div>

            <div>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 link-secondary">Ana Sayfa</a></li>
                    <li><a href="/Tarifler/Kategori" class="nav-link px-2 link-secondary">Kategoriler</a></li>
                    <li><a href="/Tarifler/Index" class="nav-link px-2 link-secondary">Listeler</a></li>
                    <li><a href="/Tarifler/Detay" class="nav-link px-2 link-secondary">Öneri</a></li>
                    <li><a href="/Iletisim/Index" class="nav-link px-2 link-secondary">İletişim</a></li>
                </ul>
            </div>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input name="ara" type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        @if (Context.User.IsInRole("Admin"))
                        {
                            <li><a class="dropdown-item" href="/Admin">Admin Paneli</a></li>
                        }                        

                        <li><a class="dropdown-item" href="/Profil/Yemeklerim">Tariflerim</a></li>
                        <li><a class="dropdown-item" href="#">Begendiklerim</a></li>
                        <li><a class="dropdown-item" href="/Profil/Index">Profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Çıkış</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="text-end">
                    <a asp-controller="Account" asp-action="SignIn" class="btn btn-outline-warning me-2">Giriş</a>
                    <a asp-controller="Account" asp-action="SignUp" class="btn btn-warning">Kayıt</a>
                </div>
            }

        </div>
    </div>
</header>