
@{
    ViewData["Title"] = "Yetkisiz Kullanıcı";
}

<div class="container text-center  my-5">
    <div class="alert alert-warning p-5">
        <h1>Bu Alan Girmek İçin Yetkiniz Bulunmamaktadır!</h1>
    </div>
</div>