<div class="kapsayici-side">
    
        <span class="admin-menu">Admin Menüsü</span>
    <hr>
    <ul class="liste">
        <li class="liste-item">
            <a class="liste-link" asp-controller="Users" asp-action="Index">
                Kullanıcılar
            </a>
        </li>
        <li  class="liste-item">
            <a class="liste-link" asp-controller="YemekTarifleri" asp-action="Index">
                Yemek Tarif
            </a>
        </li>
        <li class="liste-item">
            <a class="liste-link" asp-controller="Kategoriler" asp-action="Index">
                Yemek Kategori
            </a>
        </li>
        <li class="liste-item">
            <a class="liste-link" asp-controller="Turler" asp-action="Index">
                Yemek Türleri
            </a>
        </li>
        <li class="liste-item">
            <a class="liste-link" asp-controller="Sliders" asp-action="Index">
                Yemek Slider
            </a>
        </li>
        <li class="liste-item">
            <a class="liste-link" asp-controller="Mesajlar" asp-action="Index">
                Mesajlar
            </a>
        </li>
        <li class="liste-item">
            <a class="liste-link" asp-controller="Sliders" asp-action="Index">
                Sliders
            </a>
        </li>
    </ul>

</div>